<html>
  <h1>Post a new Msg</h1>
  <form method="POST" action="/new">
    <input name="user" placeholder="name" />
    <input name="msg" placeholder="msg" />
    <button>submit</button>
  </form>
</html>
