<html>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
    <div>
      <p>Sender: <%= message.user %></p>
      <p><%= message.msg %></p>
      <p>date added: <%=message.added %></p>
    </div>
    <% }) %>
  </body>
</html>
