<html>
  <body>
    <style>
      .msg {
        display: flex;
        gap: 15px;
      }
    </style>
    <h1><%= title %></h1>
    <% messages.forEach((message, index) => { %>
    <div class="msg">
      <p>From: <%= message.user %></p>
      <p><a href="/msg/<%= index%>"> Open message?</a></p>
    </div>
    <% }) %>
    <button><a href="/new"> new msg!!</a></button>
  </body>
</html>
