<html>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
    <div>
      <p>From:</p>
      <%= message.user %> <%= message.msg %>
      <p>date added:</p>
      <%=message.added %>
    </div>
    <% }) %>
  </body>
</html>
